[submodule "Vendor/CheddarKit"]
	path = Vendor/CheddarKit
	url = https://github.com/nothingmagical/cheddarkit.git
[submodule "Vendor/INAppStoreWindow"]
	path = Vendor/INAppStoreWindow
	url = https://github.com/indragiek/INAppStoreWindow.git
[submodule "Vendor/DBPrefsWindowController"]
	path = Vendor/DBPrefsWindowController
	url = https://github.com/kgn/DBPrefsWindowController.git
[submodule "Vendor/SNRFetchedResultsController"]
	path = Vendor/SNRFetchedResultsController
	url = https://github.com/indragiek/SNRFetchedResultsController.git
